@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');

.font-pop{
  font-family: 'Poppins', sans-serif;
}
.font-inter{
  font-family: 'Inter', sans-serif;
}
.font-oswald{
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}
h1{
  @apply font-oswald;
}
p {
  @apply font-inter;
}

body{ 
  @apply font-pop;
}

.btn {
  @apply w-full md:w-fit flex items-center justify-center px-12 py-4 text-base font-medium;
}
.btn-blue {
  @apply w-full md:w-fit flex items-center justify-center px-10 py-4 text-base font-medium bg-[#3b6ab6] text-white ;
}
.btn-blue-submit {
  @apply w-full flex items-center justify-center px-12 py-4 text-base font-medium bg-[#3b6ab6] text-white;
}
.btn-white {
  @apply w-fit flex items-center justify-center px-12 py-3 text-base font-medium bg-transparent border-2 border-white text-white ;
}

.form-input {
  @apply w-full px-4 py-2 text-base text-gray-200 placeholder-gray-400 bg-transparent border border-gray-600 rounded-md appearance-none focus:outline-none focus:ring-0 focus:border-gray-200 focus:placeholder-gray-500;
}
.form-label{
  @apply block font-medium text-gray-200;
}
.form-label::after{
  content: " *";
  color: #3b6ab6;
}
.nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.trans{
  @apply transition-all duration-300 ease-in-out;
}

.swiper-button-next,
.swiper-button-prev {
  color: #2851cbd7 !important;
}

.swiper-pagination-bullet{
  background-color: #fff!important;
}

@media (min-width: 768px) {
  :root {
    --swiper-navigation-size: 40px!important;
}
}

@media (max-width: 640px) {
  :root {
    --swiper-navigation-size: 30px!important;
}
.swiper-button-next,
.swiper-button-prev {
  display: none!important;
}
}

input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
